/* Input Fields */
.input-group {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 0.85rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 0.5rem;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 1rem;
    color: #9ca3af;
    display: flex;
}

/* Posisi kontainer ikon di sebelah kanan tepat di dalam kolom input */
.input-icon-right {
    position: absolute;
    right: 1.2rem;
    /* Digeser sedikit ke dalam agar pas di area abu-abu */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Mengikuti tinggi kolom input */
}
.input-control {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    padding: 0.8rem 1rem 0.8rem 2.8rem;
    background-color: #f3f4f6;
    border: 1px solid transparent;
    border-radius: 9999px;
    outline: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.input-control:focus {
    border-color: #16a34a;
    background-color: #ffffff;
}